@charset "UTF-8";

@font-face {
  font-family: "proyecto";
  src:url("../fonts/proyecto.eot");
  src:url("../fonts/proyecto.eot?#iefix") format("embedded-opentype"),
    url("../fonts/proyecto.woff") format("woff"),
    url("../fonts/proyecto.ttf") format("truetype"),
    url("../fonts/proyecto.svg#proyecto") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "proyecto" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "proyecto" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home-house-streamline:before {
  content: "\61";
}
.icon-home:before {
  content: "\62";
}
.icon-folder:before {
  content: "\63";
}
.icon-radio-tower:before {
  content: "\64";
}
.icon-random:before {
  content: "\65";
}
.icon-playback-rewind:before {
  content: "\66";
}
.icon-fast-backward:before {
  content: "\67";
}
.icon-fast-forward:before {
  content: "\68";
}
.icon-pause:before {
  content: "\69";
}
.icon-play:before {
  content: "\6a";
}
.icon-shuffle:before {
  content: "\6b";
}
.icon-stop:before {
  content: "\6c";
}
.icon-to-end:before {
  content: "\6d";
}
.icon-to-start:before {
  content: "\6e";
}
.icon-microphone:before {
  content: "\6f";
}
.icon-bars:before {
  content: "\70";
}
.icon-list-add:before {
  content: "\71";
}
.icon-volume-down:before {
  content: "\72";
}
.icon-volume-none:before {
  content: "\74";
}
.icon-volume:before {
  content: "\73";
}
.icon-expand:before {
  content: "\75";
}
.icon-plus-circled:before {
  content: "\76";
}
.icon-heart:before {
  content: "\77";
}
.icon-note:before {
  content: "\78";
}
.icon-music:before {
  content: "\79";
}
.icon-magnifying-glass:before {
  content: "\7a";
}
.icon-trash:before {
  content: "\41";
}
.icon-trash-o:before {
  content: "\42";
}
.icon-ban:before {
  content: "\43";
}
.icon-pencil:before {
  content: "\44";
}
